<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body style="background-color: #EFFEFE;">
        
        <script src="./static/calendarios_funcs.js"></script>

        <div class="month">
            <ul>
                <!-- <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li> -->
                <li>{{ meses[mes_a_exibir] }}<br>
                    <span style="font-size:18px">{{ atualidade.year }}</span>
                </li>
            </ul>
        </div>

        <ul class="weekdays">
            <li>Seg</li>
            <li>Ter</li>
            <li>Qua</li>
            <li>Qui</li>
            <li>Sex</li>
            <li>Sab</li>
            <li>Dom</li>
        </ul>

        <ul class="days">
            {% for dia in range(1, dias_mes + 1) %}
                    <li><span onclick="openModal('{{ dia }}', '{{ mes_a_exibir }}', '{{ atualidade.year }}')"
                        {% if dia in dias_de_paradas %}
                            class="active"

                            {% if dia in uniao %}
                                style='background: {{cores.get(paradas[uniao[dia]]["instância"], "#A00")}};'
                            {% endif %}
                        {% endif %}>{{ dia }}</span></li>
            {% endfor %}

            <div id="dateModal" class="modal">
            </div>
            
        </ul>

        <form action="/" method="get" class="month-selector"> <!-- onchange="this.form.submit()" -->
            <select id="month-selector" name="mes" type="number">
                {% for i in range(1, 13) %}
                    <option class="options" value="{{ i }}" {% if i == atualidade.month %} selected {% endif %}>{{ meses[i] }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit" class="verificar">Verificar</button>
        </form>

        <button class="calcular" onclick="calcParada('{{ optimo }}')">Parada <br> Recomendada</button>

        <div id="calc-forms"></div>
    </body>
</html>