<!DOCTYPE html>
<html>

<head>
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <h1>CSS Calendar</h1>
    <div class="month">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li> August<br> <span style="font-size:18px">2021</span> </li>
        </ul>
    </div>
    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>
    <ul class="days"> {% for dia in dias_mes %} {% if dia in paradas %} <li><span class="active">{{dia}}</span></li> {%
        else %} <li>{{dia}}</li> {% endif %} {% endfor %} </ul>
</body>

</html>